<%- include ('./partials/header.ejs'); %>
<%- include ('./partials/main_nav.ejs'); %>

<main>

  <div class="jumbotron jumbotron-fluid bg-transparent">
    <div class="container">
    <a href="/uni-day"><button class="journalbutton" role="button"><span class="text">Go to your journal</span></button></a>
    </div>
  </div>
</main>

<%- include ('./partials/bottom_nav.ejs'); %>
<%- include ('./partials/footer.ejs'); %>



